* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-title {
    font-size: 36px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 55px;
    border: 3px solid black;
    border-radius: 10px;
    transition: transform .25s ease-in;
}

.option.player,
.option.restart {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option.player:hover,
.option.restart:hover {
    background-color: bisque;
}

.results {
    width: 100%;
    max-width: 315px;
    text-align: right;
}

.restart {
    width: 100%;
    max-width: 315px;
    height: 50px;
}

.select.option {
    transform: scale(1.1);
}

.win.option,
.win.option:hover {
    background-color: #DDFFDD;
}

.lose.option,
.lose.option:hover {
    background-color: #FFCCCC;
}

.draw.option,
.draw.option:hover {
    background-color: #DEDEDE;
}